<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<form action="/" method="post">
  <div class="form-group">
  <h2>Login</h2>
  <div class="input-group">
  <div>
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Enter username" required>
  </div>
  <br><br>
  <div>
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Enter password" required>
  </div>
  <br><br>
  <button type="submit">Login</button>
  </div>
  </div>
</form>

</body>
</html>
